<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- [formGroup]="signupForm" Links the form to the ts class FormGroup -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- formGroupName="userCredentials" to indicate which nested groupForm is on the main groupForm of the .ts file -->
        <div formGroupName="userCredentials">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              formControlName="username"
              id="username"
              class="form-control"
            />
            <!-- formControlName="username" links to the control a control from the ts class -->
            <!-- 'userCredentials.username': to access the properties of a nested form group  -->
            <label
              for="username"
              *ngIf="
                !signupForm.get('userCredentials.username')!.valid &&
                signupForm.get('userCredentials.username')!.touched
              "
              class="help-block"
            >
              <!--   *ngIf="
                  signupForm.get('userCredentials.username')!.errors![
                    'required'
                  ]
                " render a message based on the error retrieved -->
              <label
                *ngIf="
                  signupForm.get('userCredentials.username')!.errors![
                    'required'
                  ]
                "
              >
                Please enter a username.
              </label>
              <label
                *ngIf="
                  signupForm.get('userCredentials.username')!.errors![
                    'nameIsForbidden'
                  ]
                "
              >
                Please enter a not forbidden username.
              </label>
            </label>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              formControlName="password"
              id="password"
              class="form-control"
            />
            <label
              for="password"
              class="help-block"
              *ngIf="
                !signupForm.get('userCredentials.password')?.valid &&
                signupForm.get('userCredentials.password')?.touched
              "
              >The password must be at least of 3 characters!</label
            >
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            formControlName="email"
            id="email"
            class="form-control"
          />
          <label
            *ngIf="
              !signupForm.get('email')!.valid &&
              signupForm.get('email')!.touched
            "
            for="email"
            >Please enter a valid email!</label
          >
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender" />{{
              gender
            }}
          </label>
        </div>
        <div class="form-group" formArrayName="hobbies">
          <!-- formArrayName="hobbies" I declare that this div is linked to the FormArrayName hobbies in the .ts file -->
          <label for="hobbies">Your hobbies:</label>
          <div *ngFor="let hobby of getArrayControls(); let i = index">
            <!-- I loop through the hobbies -->
            <!--  [formControlName]="i" : I assign the key of the array to the value -->
            <input
              class="form-control"
              type="text"
              [formControlName]="i"
              id=""
            />
          </div>
          <!--  (click)="onAddHobby()": I add a control with that method -->
          <input
            type="button"
            (click)="onAddHobby()"
            value="Add hobby"
            class="btn btn-primary"
          />
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!signupForm.valid"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
