<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <!-- routerLinkACtive recognize the actual route and assigns a CSS class to the element that contains the link to that route-->
          <!-- exact:true means that it has to MATCH the link not just CONTAIN it-->
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>
        <li style="float: right" role="presentation">
          <div>
            <a
              *ngIf="!authService.isAuthenticated()"
              (click)="logIn()"
              class="btn btn-default"
              >Log in</a
            >
            <a
              *ngIf="authService.isAuthenticated()"
              (click)="logOut()"
              class="btn"
              >Log out</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
